# A basic R introduction for ARCH 249 @Berkeley
# by F. Dallo, T. Parkinson, C. Duarte
### https://www.w3schools.com/r/default.asp

## Play around with the terminal

In [1]:
"Hello Cal!" # this is an explict print

[1] "Hello Cal!"

In [4]:
5 # this is a number..

[1] 5

In [5]:
is.numeric(5) # this is a number..

[1] TRUE

In [11]:
typeof(5) # but what kind of number??

[1] "double"

In [12]:
# Can I force to have another representation?
typeof( as.integer(5) )
print( as.integer(5) ) # we need to explicitly invoke the "print" function
typeof( as.character(5) )
print( as.character(5) )

[1] "integer"

[1] 5

[1] "character"

[1] "5"

In [13]:
for (i in 1:5) {print(i)}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5

In [14]:
i <- 0 # safe behavior... and, by the way, this is a comment!... moreover, this is a "variable assignment"!
while (i <= 5) {print(i); i <- i + 1}

[1] 0
[1] 1
[1] 2
[1] 3
[1] 4
[1] 5

In [15]:
"Hello"
'Hello'
"You should pay \"attention\".. "
"You should pay 'attention'.. "
'You should pay "attention".. '
'You should pay \'attention\'.. '

[1] "Hello"

[1] "Hello"

[1] "You should pay \"attention\".. "

[1] "You should pay 'attention'.. "

[1] "You should pay \"attention\".. "

[1] "You should pay 'attention'.. "

In [16]:
`Hello` # backticks quote are used for non-standard variables.. and you should ask Tom what he think about them

ERROR: Error in eval(expr, envir, enclos): object 'Hello' not found

In [17]:
`why not be fun!` <- 11 
`why not be fun!` # https://stat.ethz.ch/R-manual/R-devel/library/base/html/make.names.html
dumb_df_names <- data.frame(NAME = c("Bob", "Alice"), SURNAME= c("Geldof", "White"), `MIDDLE NAME` = c("Gigi", "Kathy"))
dumb_df_names$NAME
dumb_df_names$SURNAME
dumb_df_names$MIDDLE.NAME
dumb_df_names[1,] # I can see Tom suffering... he don't like matrix notation

[1] 11

[1] "Bob"   "Alice"

[1] "Geldof" "White"

[1] "Gigi"  "Kathy"

  NAME SURNAME MIDDLE.NAME
1 Bob  Geldof  Gigi

### Going paranoid on quotes: https://stat.ethz.ch/R-manual/R-patched/library/base/html/Quotes.html

## Arithmetics
### ('cause at the end... R is a supersofisticated calculator)

In [18]:
### Addition
2 + 2

[1] 4

In [19]:
### Substraction
5 - 1

[1] 4

In [20]:
### Multiplication
2 * 2

[1] 4

In [21]:
### Division
20 / 5

[1] 4

In [22]:
### Exponential
2 ^ 2

16 ^ 0.5

sqrt(16) # this is the first time we see a function!

[1] 4

[1] 4

[1] 4

In [23]:
### Some particular divisions
5 / 2
5 %/% 2 ##FEDE## This returns the integer part of the division
5 %% 2 ##FEDE## This returns the remainder

1 / 0.2
1 %/% 0.2 ##FEDE## What?! Why?! https://stat.ethz.ch/R-manual/R-devel/library/base/html/Arithmetic.html

[1] 2.5

[1] 2

[1] 1

[1] 5

[1] 4

## Functions
## Library of code that makes your life easier

## Variables
### Containers for storing data values.

In [24]:
assign("variableName", 2) # https://stat.ethz.ch/R-manual/R-devel/library/base/html/assign.html
variableName

[1] 2

In [25]:
myVariable <- 2
myVariable 
myVariable <- "ciao"
myVariable

[1] 2

[1] "ciao"

In [26]:
nr_days_week <- 7
nr_days_week # auto-print the value of the name variable
nr_days_week <- "seven"
nr_days_week
# We can use both = and <- as assignment operators. But... 
# <- is preferred in most cases because the = operator can be forbidden in some context
# Also... is nicer from the math point of view: next example.

[1] 7

[1] "seven"

In [27]:
i = 1 # make sense here .. 
while (i <= 5) {print(i); i = i + 1} # i = i + 1 ??? Some picky people decided to go for i <- i + 1

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5

In [6]:
# going "inception"
i <- n <- 1 
while (i <= 3 ) {
    for (j in 1:3 ) {
        for (k in 1:3) {
            print(paste0(i, "-", j, "-", k))
            n <- n + 1
        }
    }
    i <- i + 1
}
print((n - 1))

[1] "1-1-1"
[1] "1-1-2"
[1] "1-1-3"
[1] "1-2-1"
[1] "1-2-2"
[1] "1-2-3"
[1] "1-3-1"
[1] "1-3-2"
[1] "1-3-3"
[1] "2-1-1"
[1] "2-1-2"
[1] "2-1-3"
[1] "2-2-1"
[1] "2-2-2"
[1] "2-2-3"
[1] "2-3-1"
[1] "2-3-2"
[1] "2-3-3"
[1] "3-1-1"
[1] "3-1-2"
[1] "3-1-3"
[1] "3-2-1"
[1] "3-2-2"
[1] "3-2-3"
[1] "3-3-1"
[1] "3-3-2"
[1] "3-3-3"
[1] 27

In [8]:
expand.grid(rep(list(1:3),3)) # permutations with repetitions ! n^k
#?expand.grid()

   Var1 Var2 Var3
1  1    1    1
2  2    1    1
3  3    1    1
4  1    2    1
5  2    2    1
6  3    2    1
7  1    3    1
8  2    3    1
9  3    3    1
10 1    1    2
11 2    1    2
12 3    1    2
13 1    2    2
14 2    2    2
15 3    2    2
16 1    3    2
17 2    3    2
18 3    3    2
19 1    1    3
20 2    1    3
21 3    1    3
22 1    2    3
23 2    2    3
24 3    2    3
25 1    3    3
26 2    3    3
27 3    3    3

In [30]:
# combinations without repetitions, the lottery where 6 out of 49 balls are chosen
combn(1:49, 6)

     [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10] [,11] [,12] [,13] [,14]
[1,] 1    1    1    1     1    1    1    1    1    1    ⋯     42    42    42
[2,] 2    2    2    2     2    2    2    2    2    2    ⋯     44    44    45
[3,] 3    3    3    3     3    3    3    3    3    3    ⋯     45    46    46
[4,] 4    4    4    4     4    4    4    4    4    4    ⋯     47    47    47
[5,] 5    5    5    5     5    5    5    5    5    5    ⋯     48    48    48
[6,] 6    7    8    9    10   11   12   13   14   15    ⋯     49    49    49
     [,15] [,16] [,17] [,18] [,19] [,20] [,21]
[1,] 43    43    43    43    43    43    44
[2,] 44    44    44    44    44    45    45
[3,] 45    45    45    45    46    46    46
[4,] 46    46    46    47    47    47    47
[5,] 47    47    48    48    48    48    48
[6,] 48    49    49    49    49    49    49

In [34]:
# not so easy to win.. 
factorial(49) / ( factorial(6) * factorial(49 - 6) )
# or using a function
choose(49, 6)

[1] 13983816

[1] 13983816

## Logic Operators (Boolean algebra) https://stat.ethz.ch/R-manual/R-devel/library/base/html/Logic.html

In [ ]:
1 == 1
1 != 1
1 > 1
1 >= 1
1 < 1
1 <= 1

In [ ]:
### Make some variable assignment and then try some if-else statements:
a <- 1
b <- 2
a == 1 & b == 2
if (a == 1 & b == 2) {
    print("Good")
    #"good! without calling print()"
} else {
    print("Bad")
}
a > 1 & b == 2
a > 1 | b == 2

## String manipulation

In [ ]:
### Compare strings
"Ciao" == "Ciao"
"Ciao" == "Ciao " ##FEDE## look for tricky typo
"Ciao" == "ciao"  ##FEDE## case-sensitive

In [ ]:
"tom" > "richard"

In [ ]:
charToRaw("t") # https://www.asciitable.com

In [ ]:
charToRaw("r")

In [ ]:
"a" < "A"
charToRaw("a")
charToRaw("A")

In [ ]:
# https://stackoverflow.com/questions/71684102/how-string-comparison-works-in-r

### Go back to something more useful: concatenate strigs using "paste()"!

In [ ]:
paste("Hello", " ", "World", "!") # extra spaces!

In [ ]:
paste0("Hello", " ", "World", "!") # this gives you more control

In [ ]:
paste("Hello", dumb_df_names$NAME[1], "!", "How are you?") # again.. spaces sometime are messy

In [ ]:
paste0("Hello ", dumb_df_names$NAME[2], "! ", "How are you?")

In [ ]:
# complicate to show why this could be handy:
for (i in 15:30) { # we are talking of °C.. right?
    if (i <= 22) {
        print(paste0("The temperature is, ", i, " °C and ", dumb_df_names$NAME[1], " feels cold!"))
    } else if (i <= 26) {
        print(paste0("The temperature is, ", i, " °C and ", dumb_df_names$NAME[1], " is comfortable!"))
    } else {
        print(paste0("The temperature is, ", i, " °C and ", dumb_df_names$NAME[1], " feels too warm!"))
    }
}

In [ ]:
# convert to F
for (i in 15:30) { # but keep this is °C.. 
    if (i <= 22) {
        print(paste0("The temperature is, ", ( (i * 9/5) + 32 ), " °F and ", dumb_df_names$NAME[1], " feels cold!"))
    } else if (i <= 26) {
        print(paste0("The temperature is, ", ( (i * 9/5) + 32 ), " °F and ", dumb_df_names$NAME[1], " is comfortable!"))
    } else {
        print(paste0("The temperature is, ", ( (i * 9/5) + 32 ), " °F and ", dumb_df_names$NAME[1], " feels too warm!"))
    }
}

## Lists
### Store more multiple objects in a one-dimensional array

In [ ]:
CBE_people <- c("Tom", "Carlos", "Fede")

In [ ]:
"Fede" %in% CBE_people

In [ ]:
which(CBE_people == "Fede")

In [ ]:
dumb_numeric_vect <- c(1,2,3,4,5,6,7,8,9,0)

In [ ]:
mixed_list <- c(1,"2",3,4,5)
mixed_list2 <- list(1,"2",3,4,5)

In [ ]:
str(mixed_list) # converted to the "higher"
str(mixed_list2) # a list can contain many different data types
str(dumb_list)

## Data Frames
### Extending Lists

### Rounding numbers

In [ ]:
round(2.5, digits = 0) ##FEDE## What?! Why?! https://stat.ethz.ch/R-manual/R-devel/library/base/html/Round.html
round(2.6, digits = 0)

In [ ]:
floor(2.5)
ceiling(2.5)
trunc(2.7)
signif(2.5, digits = 0)

## Source a "script"
### A "script" is a file that contains code

In [ ]:
source(file = "timeseries/script.r")

In [ ]:
c(a,b,c)